# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\STUDIES\MACS\SEM-3\5410 - Serverless Data Processing\Assignements\AssignmentCode\New folder\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
